@font-face {
    font-family: 'BYekan';
    src: url('./fonts/BYekan.eot');
    src: local('BYekan'), url('./fonts/BYekan.woff') format('woff'), url('./fonts/BYekan.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_17029">Text with this font applied</p> */
body {
    font-family: 'BYekan' !important;
}


.code-box-demo {
    text-align: right;
}
.ant-layout-content {
    background-color: white;
}
.ant-card-head-title {
    padding: 0;
}
.ant-table-wrapper {
    font-family: Tahoma;
}