@font-face {
    font-family: 'BYekan';
    src: url('./fonts/BYekan.eot');
    src: local('BYekan'), url('./fonts/BYekan.woff') format('woff'), url('./fonts/BYekan.ttf') format('truetype');
}
@font-face {
    font-family: "Tahoma";
    src:url('./fonts/tahoma.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_17029">Text with this font applied</p> */
body {
    font-family: 'Tahoma' !important;
}


.code-box-demo {
    text-align: right;
}
.ant-layout-content {
    background-color: white;
    font-family: "Tahoma", "B Yekan" !important;
}
.ant-card-head-title {
    padding: 0;
}
.divider-1{
    height: 1rem;
}
.divider-2{
    height: 2rem;
}
.divider-3{
    height: 3rem;
}
.divider-4{
    height: 4rem;
}
.divider-5{
    height: 5rem;
}